{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>ProjectCategory</h1>
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('project_category_index') }}" class="btn btn-light">
        <span class="bi bi-arrow-left"></span> Back
    </a>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('project_category_edit', { 'id': projectCategory.id }) }}" class="btn btn-light">
            <span class='bi bi-pencil-square'></span> Edit
        </a>
        <a href="{{ path('project_category_delete', { 'id': projectCategory.id }) }}" class="btn btn-light" data-confirm="Are you sure you want to delete this ProjectCategory?">
            <span class='bi bi-trash'></span> Delete
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ projectCategory.name }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ projectCategory.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projectCategory.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if projectCategory.created %}{{ projectCategory.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if projectCategory.updated %}{{ projectCategory.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if projectCategory.projects|length > 0 %}
        <h2>Projects</h2>
        {% for project in projectCategory.projects %}
            <p>
                <strong>
                    <a href="{{ path('project_show', {'id': project.id}) }}">{{ project }}</a>
                </strong><br />
                {% if project.venues.first() %}
                    <a href="{{ path('location_show', {'id': project.venues.first().location.id}) }}">{{ project.venues.first().location }}</a>:
                    {{ project.startDate|date }} - {{ project.endDate|date }}
                {% endif %}
            </p>
            {{ project.excerpt|raw }}

        {% endfor %}
    {% endif %}

{% endblock %}
