{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Person List</h1>
    <p class="count">
        Displaying {{ people|length }} people of {{ people.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('person_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('person_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Sortablename</th>
                <th>Url</th>
                <th>Created</th>
                <th>Updated</th>            </tr>
        </thead>
        <tbody>
            {% for person in people %}
                <tr>
                    <td>
                        <a href="{{ path('person_show', { 'id': person.id }) }}">
                            {{ person.fullname }}
                        </a>
                    </td>
                    <td>{{ person.sortableName }}</td>
                    <td>
                        <a href="{{ person.url }}">{{ person.url }}</a>
                        {% if person.urls|length > 1 %}<br>And {{ (person.urls|length) - 1 }} more.{% endif %}
                    </td>
                    <td>{% if person.created %}{{ person.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if person.updated %}{{ person.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(people) }}
    </div>

{% endblock %}
