{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Venue List</h1>
    <p class="count">
        Displaying {{ venues|length }} venues of {{ venues.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('venue_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% for venue in venues %}
        <h2>
            <a href="{{ path('venue_show', { 'id': venue.id }) }}">
                {{ venue.name }}, {{ venue.location }}
            </a>
        </h2>
        <p>{{ text_service.trim(venue.description, 100) }}</p>
        <p class='text-end'>
            Created {{ venue.created|date }}. Most recently updated {{ venue.updated|date }}
        </p>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(venues) }}
    </div>

{% endblock %}
