{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Project List</h1>
    <p class="count">
        Displaying {{ projects|length }} projects of {{ projects.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('project_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('project_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <div class='clearfix'></div>

    {% for project in projects %}
        <h2>
            <a href="{{ path('project_show', { 'id': project.id }) }}">
                {{ project.title }}
            </a>
        </h2>
        {{ project.excerpt|raw }}
        <p class='text-right'>
            Created {{ project.created|date }}. Most recently updated {{ project.updated|date }}
        </p>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(projects) }}
    </div>

{% endblock %}
