{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Organization List</h1>
    <p class="count">
        Displaying {{ organizations|length }} organizations of {{ organizations.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('organization_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
    <a href="{{ path('organization_search') }}" class="btn btn-light">
        <span class="bi bi-search"></span> Search
    </a>
{% endblock %}

{% block body %}
    {% for organization in organizations %}
        <h2>
            <a href="{{ path('organization_show', { 'id': organization.id }) }}">
                {{ organization.name }}
            </a>
        </h2>
        <p>{{ text_service.trim(organization.description, 100) }}</p>
        <p class='text-end'>
            Created {{ organization.created|date }}. Most recently updated {{ organization.updated|date }}
        </p>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(organizations) }}
    </div>

{% endblock %}
