{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Organization List</h1>
    {% if organizations|length > 0 %}
        <p class="count">
            Displaying {{ organizations|length }} organizations of {{ organizations.getTotalItemCount }} total.
        </p>
    {% endif %}
{% endblock %}

{% block body %}

    <form method="get" action="{{ path('organization_search') }}" class="form-horizontal">
        <fieldset>
            <legend>Search</legend>
            <div class='form-group'>
                <label class='col-sm-2 control-label' for='q'>Search term</label>
                <div class='col-sm-10'>
                    <div class='input-group'>
                        <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class='bi bi-search'></span>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
                <p class="help-block col-sm-offset-2">Boolean, full text, search any metadata field for the term.</p>
            </div>
        </fieldset>
    </form>

    {% if organizations|length > 0 %}

        {% for organization in organizations %}
            <h2>
                <a href="{{ path('organization_show', { 'id': organization.id }) }}">
                    {{ organization.name }}
                </a>
            </h2>
            <p>{{ text_service.trim(organization.description, 100) }}</p>
            <p class='text-end'>
                Created {{ organization.created|date }}. Most recently updated {{ organization.updated|date }}
            </p>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(organizations) }}
        </div>

    {% endif %}

{% endblock %}
