{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Organization</h1>
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('organization_index') }}" class="btn btn-light">
        <span class="bi bi-arrow-left"></span> Back
    </a>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('organization_edit', { 'id': organization.id }) }}" class="btn btn-light">
            <span class='bi bi-pencil-square'></span> Edit
        </a>
        <a href="{{ path('organization_delete', { 'id': organization.id }) }}" class="btn btn-light" data-confirm="Are you sure you want to delete this Organization?">
            <span class='bi bi-trash'></span> Delete
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <h2>{{ organization.name }}</h2>
    <a href="{{ path('location_show', {'id': organization.location.id}) }}">{{ organization.location }}</a>
    <address>
        {{ organization.address|nl2br }}
    </address>
    {{ organization.description|raw }}

    {% if organization.urls|length > 0 %}
        <ul>
            {% for url in organization.urls %}
                <li><a href="{{ url }}">{{ url }}</a></li>
                {% endfor %}
        </ul>
    {% endif %}

    {% if organization.contact %}
        <h3>Contact</h3>
        {{ organization.contact }}
    {% endif %}

    <p class='text-end'>
        Created {{ organization.created|date }}. Most recently updated {{ organization.updated|date }}
    </p>

    <h2>Projects</h2>

    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <p>
            <a href="{{ path('organization_project_contributions', {'id': organization.id}) }}">Update project contributions</a>
        </p>
    {% endif %}

    {% if organization.projectContributions|length %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <tr>
                <th>Role</th>
                <th>Project</th>
            </tr>
            {% for contribution in organization.projectContributions %}
                <tr>
                    <td>
                        <a href="{{ path('project_role_show', {'id': contribution.projectRole.id }) }}">
                            {{ contribution.projectRole }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('project_show', {'id': contribution.project.id }) }}">
                            {{ contribution.project }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h2>Artworks</h2>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <p>
            <a href="{{ path('organization_artwork_contributions', {'id': organization.id}) }}">Update artwork contributions</a>
        </p>
    {% endif %}

    {% if organization.artworkContributions|length %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <tr>
                <th>Role</th>
                <th>Project</th>
            </tr>
            {% for contribution in organization.artworkContributions %}
                <tr>
                    <td>
                        <a href="{{ path('artwork_role_show', {'id': contribution.artworkRole.id }) }}">
                            {{ contribution.artworkRole }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('artwork_show', {'id': contribution.artwork.id }) }}">
                            {{ contribution.artwork }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}
