{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>ProjectContribution List</h1>
    <p class="count">
        Displaying {{ projectContributions|length }} projectContributions of {{ projectContributions.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('project_contribution_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('project_contribution_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Created</th>
                <th>Updated</th>            </tr>
        </thead>
        <tbody>
            {% for projectContribution in projectContributions %}
                <tr>
                    <td>
                        <a href="{{ path('project_contribution_show', { 'id': projectContribution.id }) }}">
                            {{ projectContribution.created }}
                        </a>
                    </td>
                    <td>{% if projectContribution.updated %}{{ projectContribution.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(projectContributions) }}
    </div>

{% endblock %}
