{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>VenueCategory</h1>
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('venue_category_index') }}" class="btn btn-light">
        <span class="bi bi-arrow-left"></span> Back
    </a>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('venue_category_edit', { 'id': venueCategory.id }) }}" class="btn btn-light">
            <span class='bi bi-pencil-square'></span> Edit
        </a>
        <a href="{{ path('venue_category_delete', { 'id': venueCategory.id }) }}" class="btn btn-light" data-confirm="Are you sure you want to delete this VenueCategory?">
            <span class='bi bi-trash'></span> Delete
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ venueCategory.name }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ venueCategory.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ venueCategory.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if venueCategory.created %}{{ venueCategory.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if venueCategory.updated %}{{ venueCategory.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if venueCategory.venues|length > 0 %}
        <h2>Venues</h2>
        {% for venue in venueCategory.venues %}
            <p>
                <strong><a href="{{ path('venue_show', {'id': venue.id}) }}">{{ venue }}</a></strong>
                {{ venue.address }}<br/>
                {{ text_service.trim(venue.description, 100) }}
            </p>
        {% endfor %}
    {% endif %}

{% endblock %}
