{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>ArtworkRole</h1>
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('artwork_role_index') }}" class="btn btn-light">
        <span class="bi bi-arrow-left"></span> Back
    </a>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('artwork_role_edit', { 'id': artworkRole.id }) }}" class="btn btn-light">
            <span class='bi bi-pencil-square'></span> Edit
        </a>
        <a href="{{ path('artwork_role_delete', { 'id': artworkRole.id }) }}" class="btn btn-light" data-confirm="Are you sure you want to delete this ArtworkRole?">
            <span class='bi bi-trash'></span> Delete
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ artworkRole.name }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ artworkRole.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ artworkRole.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if artworkRole.created %}{{ artworkRole.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if artworkRole.updated %}{{ artworkRole.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if artworkRole.contributions|length > 0 %}
        <h2>Contributions</h2>
        <table class="table table-bordered table-condensed table-hover table-striped">
            <tr>
                <th>Project</th>
                <th>Person</th>
                <th>Organization</th>
            </tr>
            {% for contribution in artworkRole.contributions %}
                <tr>
                    <td><a href="{{ path('artwork_show', {'id': contribution.artwork.id }) }}">{{ contribution.artwork }}</a></td>
                    <td>
                        {% if contribution.person %}
                            <a href="{{ path('person_show', {'id': contribution.person.id}) }}">
                                {{ contribution.person }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if contribution.organization %}
                            <a href="{{ path('organization_show', {'id': contribution.organization.id}) }}">
                                {{ contribution.organization }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}
