{% extends 'base.html.twig' %}

{% block title %}ArtisticStatement List{% endblock %}

{% block pageheader %}
    <h1>ArtisticStatement List</h1>
    <p class="count">
        Displaying {{ artisticStatements|length }} artisticStatements of {{ artisticStatements.getTotalItemCount }}
        total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('artwork_statement_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
    <a href="{{ path('artwork_statement_search') }}" class="btn btn-light">
        <span class="bi bi-search"></span> Search
    </a>
{% endblock %}

{% block body %}
    {% for artisticStatement in artisticStatements %}
        <h2>
            <a href="{{ path('artwork_statement_show', { 'id': artisticStatement.id }) }}">
                {{ artisticStatement.title }}
            </a>
        </h2>
        {{ artisticStatement.excerpt|raw }}
        <p class='text-end'>
            Created {{ artisticStatement.created|date }}. Most recently updated {{ artisticStatement.updated|date }}
        </p>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(artisticStatements) }}
    </div>

{% endblock %}
