{% extends 'base.html.twig' %}

{% block title %}ArtisticStatement{% endblock %}

{% block pageheader %}
    <h1>ArtisticStatement</h1>
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('artwork_statement_index') }}" class="btn btn-light">
        <span class="bi bi-arrow-left"></span> Back
    </a>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('artwork_statement_edit', { 'id': artisticStatement.id }) }}" class="btn btn-light">
            <span class='bi bi-pencil-square'></span> Edit
        </a>
        <a href="{{ path('artwork_statement_delete', { 'id': artisticStatement.id }) }}" class="btn btn-light"
           data-confirm="Are you sure you want to delete this ArtisticStatement?">
            <span class='bi bi-trash'></span> Delete
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <h1>{{ artisticStatement.title }}</h1>

    {% if is_granted('ROLE_USER') %}
        <div class="card my-3">
            <div class="card-header"><h3>Excerpt</h3></div>
            <div class="card-body">{{ artisticStatement.excerpt|raw }}</div>
        </div>
    {% endif %}

    {{ artisticStatement.content|raw }}

    <div class="text-end">
        Created {{ artisticStatement.created|date('Y-m-d H:i:s') }}. Most recent
        update {{ artisticStatement.updated|date }}.
    </div>

    <h2>Artwork</h2>
    <a href="{{ path('artwork_show', { 'id': artisticStatement.artwork.id}) }}">
        {{ artisticStatement.artwork }}
    </a>

    <h2>People</h2>
    {% if artisticStatement.people | length > 0 %}
        <ul>
            {% for people in artisticStatement.people %}
                <li>
                    <a href="{{ path("person_show", {"id":people.id}) }}">
                        {{ people }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
