<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" content="notranslate" />        
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">        
        <link rel="stylesheet" href="{{ asset('bower/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bower/bootstrap/dist/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/base.css') }}">        
        <script src="{{ asset('bower/jquery/dist/jquery.min.js') }}"></script>        
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">Home</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Browse <span class="caret"></span>
                            </a>
                            {{ knp_menu_render('AppBundle:Builder:navMenu') }}
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                About <span class="caret"></span>
                            </a>
                            {{ knp_menu_render('NinesBlogBundle:Builder:pageNavMenu') }}
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Announcements <span class="caret"></span>
                            </a>
                            {{ knp_menu_render('NinesBlogBundle:Builder:postNavMenu') }}
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                            {{ knp_menu_render('NinesUserBundle:Builder:userNavMenu') }}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">

            {% if block('pageheader') is defined %}
                <div class="page-header">
                    {{ block('pageheader') }}
                </div>
            {% endif %}

            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}
            {% endblock %}
        </div>

        <script src="{{ asset('bower/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/form.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
