{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>{{ project }} Pages</h1>
    <p class="count">
        Displaying {{ projectPages|length }} pages of {{ projectPages.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('project_page_new', {'projectId': project.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
        </div>
    </div>

    <div class="clearfix"></div>

    {% for projectPage in projectPages %}
        <h2>
            <a href="{{ path('project_page_show', { 'projectId': project.id, 'id': projectPage.id }) }}">
                {{ projectPage.title }}
            </a>
        </h2>
        {{ projectPage.excerpt|raw }}
        <div class="text-right">
            Created {{ projectPage.created|date('Y-m-d H:i:s') }}. Most recent update {{ projectPage.updated|date }}.
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(projectPages) }}
    </div>

{% endblock %}
