{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Location Search</h1>
    {% if locations|length > 0 %}
        <p class="count">
            Displaying {{ locations|length }} locations of {{ locations.getTotalItemCount }} total.
        </p>
    {% endif %}
{% endblock %}

{% block body %}

    <form method="get" action="{{ path('location_search') }}" class="form-horizontal">
        <fieldset>
            <legend>Search</legend>
            <div class='form-group'>
                <label class='col-sm-2 control-label' for='q'>Search term</label>
                <div class='col-sm-10'>
                    <div class='input-group'>
                        <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class='bi bi-search'></span>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
                <p class="help-block col-sm-offset-2">Boolean, full text, search any metadata field for the term.</p>
            </div>
        </fieldset>
    </form>


    {% if locations|length > 0 %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Region</th>
                    <th>Country</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                    <tr>
                        <td>
                            <a href="{{ path('location_show', { 'id': location.id }) }}">
                                {{ location.city }}
                            </a>
                        </td>
                        <td>{{ location.region }}</td>
                        <td>{{ location.country }}</td>
                        <td>{% if location.created %}{{ location.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if location.updated %}{{ location.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(locations) }}
        </div>

    {% endif %}

{% endblock %}
