{% extends 'base.html.twig' %}

{% block title %}ArtisticStatement{% endblock %}

 {% block pageheader %} 
    <h1>ArtisticStatement</h1>
 {% endblock %} 

{% block body %}
    <div class="btn-toolbar">
    <div class="btn-group pull-right">
        <a href="{{ path('artwork_statement_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
        </a>
        {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('artwork_statement_edit', { 'id': artisticStatement.id }) }}" class="btn btn-default">
            <span class='glyphicon glyphicon-edit'></span> Edit
        </a>
        <a href="{{ path('artwork_statement_delete', { 'id': artisticStatement.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this ArtisticStatement?">
            <span class='glyphicon glyphicon-remove'></span> Delete
        </a>
        {% endif %}
    </div>
</div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ artisticStatement.title }}</td>
            </tr>
            <tr>
                <th>Artwork</th>
                <td>
                    <a href="{{ path('artwork_show', { 'id': artisticStatement.artwork.id}) }}">
                        {{ artisticStatement.artwork }}
                    </a>
                </td>
            </tr>        
            <tr>
                <th>People</th>         
                <td>
                    {% if artisticStatement.people | length > 0 %}
                    <ul>
                        {% for people in artisticStatement.people %}
                        <li>
                            <a href="{{ path("person_show", {"id":people.id}) }}">
                                {{ people }}
                            </a>
                        </li>
                        {% endfor %} 
                    </ul>
                    {% endif %}
                </td>
            </tr>        
            <tr>
                <th>Excerpt</th>
                <td>{{ artisticStatement.excerpt|raw }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ artisticStatement.content|raw }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if artisticStatement.created %}{{ artisticStatement.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if artisticStatement.updated %}{{ artisticStatement.updated|date }}{% endif %}</td>
            </tr>        
        </tbody>
    </table>
{% endblock %}
