{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Person List</h1>
    <p class="count">
        Displaying {{ people|length }} people of {{ people.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('person_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
    <a href="{{ path('person_search') }}" class="btn btn-light">
        <span class="bi bi-search"></span> Search
    </a>
{% endblock %}

{% block body %}
    {% for person in people %}
        <h2>
            <a href="{{ path('person_show', { 'id': person.id }) }}">
                {{ person.fullname }}
            </a>
        </h2>
        <p>
            {{ text_service.trim(person.biography, 100) }}
        </p>
        <p class='text-end'>
            Created {{ person.created|date }}. Most recently updated {{ person.updated|date }}
        </p>

    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(people) }}
    </div>

{% endblock %}
