{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>MediaFileType List</h1>
    <p class="count">
        Displaying {{ mediaFileTypes|length }} mediaFileTypes of {{ mediaFileTypes.getTotalItemCount }} total.
    </p>
{% endblock %} 

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('media_file_type_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('media_file_type_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Label</th>                
                <th>Created</th>
                <th>Updated</th>            
            </tr>
        </thead>
        <tbody>
            {% for mediaFileType in mediaFileTypes %}
                <tr>
                <tr>
                    <td>
                        <a href="{{ path('media_file_type_show', { 'id': mediaFileType.id }) }}">
                            {{ mediaFileType.name }}
                        </a>
                    </td>
                    <td>{{ mediaFileType.label }}</td>
                    <td>{% if mediaFileType.created %}{{ mediaFileType.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if mediaFileType.updated %}{{ mediaFileType.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(mediaFileTypes) }}
    </div>

{% endblock %}
