<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

    <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('node_modules/bootstrap-icons/font/bootstrap-icons.css') }}" />
    <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('node_modules/select2/dist/css/select2.min.css') }}" />
    <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('node_modules/select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css') }}" />

    <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('css/base.css') }}"/>

    <script src="{{ asset_prefix|default('') ~ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset_prefix|default('') ~ asset('node_modules/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset_prefix|default('') ~ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src="{{ asset_prefix|default('') ~ asset('node_modules/symfony-collection/jquery.collection.js') }}"></script>
    <script src="{{ asset_prefix|default('') ~ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset_prefix|default('') ~ asset('js/form.js') }}"></script>
    {% block styles %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg bg-light fixed-top p-0">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {{ knp_menu_render('main', { 'allow_safe_labels': true }) }}
                {{ knp_menu_render('nines_blog_pages', { 'allow_safe_labels': true }) }}
                {{ knp_menu_render('nines_blog_posts', { 'allow_safe_labels': true }) }}
                {{ knp_menu_render('nines_user_nav', { 'allow_safe_labels': true }) }}
            </div>
        </div>
    </nav>
    <div class="container">

        {% if block('pageheader') is defined %}
            <div class="page-header">
                {{ block('pageheader') }}
            </div>
        {% endif %}

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% if block("action_buttons") is defined %}
            <div class='page-actions btn-toolbar m-2'>
                <div class="btn-group ms-auto">
                    {% block action_buttons %}
                    {% endblock %}
                </div>
            </div>
        {% endif %}

        {% block body %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <b>Between The Digital</b>
            <br/>
            <a href="{{ asset('docs/sphinx/index.html') }}">Documentation</a> |
            <a href="{{ path('privacy') }}">Privacy</a> |
            <a href="https://github.com/sfu-dhil/btd">GitHub</a>
        </div>
    </footer>
    {% block javascripts %}
    {% endblock %}
</body>
</html>
