{% extends 'base.html.twig' %}

{% block body %}
    <h1>Media File edit</h1>

    <div class='row'>
        <div class='col-sm-4'>
            <a href="{{ path('media_file_show', { 'id': mediaFile.id }) }}">
                <img src="{{ path('media_file_tn', {'id': mediaFile.id}) }}" class="img-thumbnail">
            </a>
        </div>
        <div class='col-sm-8'>
            <a href="{{ path('media_file_show', {'id': mediaFile.id}) }}">
                {{ mediaFile.getMetadataFields('dc_title', false) }}
            </a>
            <dl class="row">
                <dt class="col-sm-3 text-end">Id</dt>
                <dd class="col-sm-9">{{ mediaFile.id }}</dd>
                <dt class="col-sm-3 text-end">Media Category</dt>
                <dd class="col-sm-9">{{ mediaFile.mediaFileCategory }}</dd>
                <dt class="col-sm-3 text-end">File category</dt>
                <dd class="col-sm-9">{{ mediaFile.mimetype }}</dd>
                <dt class="col-sm-3 text-end">Original name</dt>
                <dd class="col-sm-9">{{ mediaFile.originalName }}</dd>
                <dt class="col-sm-3 text-end">Uploaded</dt>
                <dd class="col-sm-9">{{ mediaFile.updated|date }}</dd>
                <dt class="col-sm-3 text-end">URL</dt>
                <dd class="col-sm-9">
                    <a href="{{ path('media_file_raw', {'id': mediaFile.id}) }}">
                        {{ url('media_file_raw', {'id': mediaFile.id}) }}
                    </a>
                </dd>
        </div>
    </div>

    <div class='row'>
        {{ form_start(edit_form) }}
        {{ form_row(edit_form.newFile) }}
        {{ form_rest(edit_form) }}
        <div class="text-center">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a href="{{ path('media_file_show', { 'id': mediaFile.id }) }}" class="btn btn-warning">Cancel</a>
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
