{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>MediaFile List</h1>
    <p class="count">
        Displaying {{ mediaFiles|length }} mediaFiles of {{ mediaFiles.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('media_file_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
    <a href="{{ path('media_file_search') }}" class="btn btn-light">
        <span class="bi bi-search"></span> Search
    </a>
{% endblock %}

{% block body %}
    {% for mediaFile in mediaFiles %}
        <div class='row'>
            <div class='col-sm-4'>
                <a href="{{ path('media_file_show', { 'id': mediaFile.id }) }}">
                    <img src="{{ path('media_file_tn', {'id': mediaFile.id}) }}" class="img-thumbnail">
                </a>
            </div>
            <div class='col-sm-8'>
                <a href="{{ path('media_file_show', {'id': mediaFile.id}) }}">
                    {{ mediaFile.getMetadataFields('dc_title', false) }}
                </a>
                <dl class="row">
                    <dt class="col-sm-3 text-end">Id</dt>
                    <dd class="col-sm-9">{{ mediaFile.id }}</dd>
                    <dt class="col-sm-3 text-end">Media Category</dt>
                    <dd class="col-sm-9">{{ mediaFile.mediaFileCategory }}</dd>
                    <dt class="col-sm-3 text-end">File category</dt>
                    <dd class="col-sm-9">{{ mediaFile.mimetype }}</dd>
                    <dt class="col-sm-3 text-end">Original name</dt>
                    <dd class="col-sm-9">{{ mediaFile.originalName }}</dd>
                    <dt class="col-sm-3 text-end">Uploaded</dt>
                    <dd class="col-sm-9">{{ mediaFile.updated|date }}</dd>
                    <dt class="col-sm-3 text-end">URL</dt>
                    <dd class="col-sm-9">
                        <a href="{{ path('media_file_raw', {'id': mediaFile.id}) }}">
                            {{ url('media_file_raw', {'id': mediaFile.id}) }}
                        </a>
                    </dd>
            </div>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(mediaFiles) }}
    </div>

{% endblock %}
