{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Venue</h1>
{% endblock %} 

{% block body %}

    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('venue_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
            <a href="{{ path('venue_edit', { 'id': venue.id }) }}" class="btn btn-default">
                <span class='glyphicon glyphicon-edit'></span> Edit
            </a>
            <a href="{{ path('venue_delete', { 'id': venue.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this Venue?">
                <span class='glyphicon glyphicon-remove'></span> Delete
            </a>
        </div>
    </div>

    <div class='clearfix'></div>

    <h2>{{ venue.name }}</h2>
    <a href="{{ path('location_show', {'id': venue.location.id}) }}">{{ venue.location }}</a>
    <p>{{ venue.address }}</p>
    {{ venue.description|raw }}
    <p><a href='{{ venue.url }}'>{{ venue.url }}</a></p>
    <p class='text-right'>
        Created {{ venue.created|date }}. Most recently updated {{ venue.updated|date }}
    </p>

    {% if venue.projects|length > 0 %}
        {% for project in venue.projects %}
           <h3>
                <a href="{{ path('project_show', { 'id': project.id }) }}">
                    {{ project }}
                </a>
            </h3>
            <p>
                {{ text_service.trim(project.description, 100) }}            
            </p>            
        {% endfor %}
    {% endif %}

{% endblock %}
