{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Add media</h1>
    <p>Use the form below to search for media. Click the thumbnail image to associate
        the media with <a href='{{ path('project_show', {'id': project.id}) }}'>{{ project }}</a>
    </p>
{% endblock %}

{% block body %}

    <form method="get" action="{{ path('project_add_media', {'id': project.id}) }}" class="form-horizontal">
        <fieldset>
            <legend>Search</legend>
            <div class='form-group'>
                <label class='col-sm-2 control-label' for='q'>Search term</label>
                <div class='col-sm-10'>
                    <div class='input-group'>
                        <input type='text' name='q' id='q' class='form-control' value='{{ q }}'>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class='bi bi-search'></span>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
                <p class="help-block col-sm-offset-2">Boolean, full text, search any metadata field for the term.</p>
            </div>
        </fieldset>
    </form>

    {% if results|length %}
        <div class='add_media'>
            {% for result in results %}
                {% set mediaFile = result %}
                <div class='row {% if project.hasMediaFile(mediaFile) %}associated{% endif %}'>
                    <div class='col-sm-4'>
                        {% if project.hasMediaFile(mediaFile) %}
                            <img src="{{ path('media_file_tn', {'id': mediaFile.id}) }}" class="img-thumbnail">
                        {% else %}
                            <a href="{{ path('project_add_media', { 'id': project.id, 'q': q, 'page': results.getCurrentPageNumber, 'addId': mediaFile.id }) }}">
                                <img src="{{ path('media_file_tn', {'id': mediaFile.id}) }}" class="img-thumbnail">
                            </a>
                        {% endif %}
                    </div>
                    <div class='col-sm-8'>
                        {{ mediaFile.getMetadataFields('dc_title', false) }}
                        <dl class="row">
                            <dt class="col-sm-3 text-end">Id</dt>
                            <dd class="col-sm-9">{{ mediaFile.id }}</dd>
                            <dt class="col-sm-3 text-end">File category</dt>
                            <dd class="col-sm-9">{{ mediaFile.mimetype }}</dd>
                            <dt class="col-sm-3 text-end">Original name</dt>
                            <dd class="col-sm-9">{{ mediaFile.originalName }}</dd>
                            <dt class="col-sm-3 text-end">Uploaded</dt>
                            <dd class="col-sm-9">{{ mediaFile.updated|date }}</dd>
                            <dt class="col-sm-3 text-end">URL</dt>
                            <dd class="col-sm-9">
                                <a href="{{ path('media_file_raw', {'id': mediaFile.id}) }}">
                                    {{ url('media_file_raw', {'id': mediaFile.id}) }}
                                </a>
                            </dd>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(results) }}
        </div>
    {% endif %}

{% endblock %}
