{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Project List</h1>
    <p class="count">
        Displaying {{ projects|length }} projects of {{ projects.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('project_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
    <a href="{{ path('project_search') }}" class="btn btn-light">
        <span class="bi bi-search"></span> Search
    </a>
{% endblock %}

{% block body %}
    {% for project in projects %}
        <h2>
            <a href="{{ path('project_show', { 'id': project.id }) }}">
                {{ project.title }}
            </a>
        </h2>
        {{ project.excerpt|raw }}
        <p class='text-end'>
            Created {{ project.created|date }}. Most recently updated {{ project.updated|date }}
        </p>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(projects) }}
    </div>

{% endblock %}
