{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>{{ project.title }}</h1>
    <a href="{{ path('project_category_show', {'id': project.projectCategory.id }) }}">
        {{ project.projectCategory }}
    </a> {{ project.startDate|date("Y-m-d") }} to {{ project.endDate|date("Y-m-d") }}. <br/>
    {% for venue in project.venues %}
        <a href='{{ path('venue_show', {'id': venue.id}) }}'>{{ venue.name}}</a>,
        <a href='{{ path('location_show', {'id': venue.location.id}) }}'>{{venue.location}}</a><br/>
    {% endfor %}
    {%  if project.parent %}
        Part of <a href="{{ project.parent.id }}">{{ project.parent }}</a>.
    {%  endif %}
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('project_index') }}" class="btn btn-light">
        <span class="bi bi-arrow-left"></span> Back
    </a>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('project_edit', { 'id': project.id }) }}" class="btn btn-light">
            <span class='bi bi-pencil-square'></span> Edit
        </a>
        <a href="{{ path('project_page_new', { 'projectId': project.id }) }}" class="btn btn-light">
            <span class='bi bi-plus-lg'></span> Add Page
        </a>
        <a href="{{ path('project_delete', { 'id': project.id }) }}" class="btn btn-light" data-confirm="Are you sure you want to delete this Project?">
            <span class='bi bi-trash'></span> Delete
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="card my-3">
            <div class="card-header">
                Excerpt
            </div>
            <div class="card-body">
                {{ project.excerpt|raw }}
            </div>
        </div>
    {% endif %}

    {{ project.content|raw }}

    <div class="text-end">
        Created {{ project.created|date('Y-m-d H:i:s') }}. Most recent update {{ project.updated|date }}.
    </div>

    {% for projectPage in project.projectPages %}
        <h2>
            <a href="{{ path('project_page_show', {'projectId': project.id, 'id': projectPage.id }) }}">
                {{ projectPage }}
            </a>
        </h2>
        {{ projectPage.excerpt|raw }}
        <div class="text-end">
            Created {{ projectPage.created|date('Y-m-d H:i:s') }}. Most recent update {{ projectPage.updated|date }}.
        </div>
    {% endfor %}

    <h2>Media Files</h2>

    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <p>
            <a href="{{ path('project_add_media', {'id': project.id}) }}">Add media files</a> |
            <a href="{{ path('project_remove_media', {'id': project.id}) }}">Remove media files</a>
        </p>
    {% endif %}

    {% for mediaFile in project.mediaFiles %}
        <div class='row'>
            <div class='col-sm-4'>
                <a href="{{ path('media_file_show', { 'id': mediaFile.id }) }}">
                    <img src="{{ path('media_file_tn', {'id': mediaFile.id}) }}" class="img-thumbnail">
                </a>
            </div>
            <div class='col-sm-8'>
                {{ mediaFile.getMetadataFields('dc_title', false) }}
                <dl class="row">
                    <dt class="col-sm-3 text-end">Id</dt>
                    <dd class="col-sm-9">{{ mediaFile.id }}</dd>
                    <dt class="col-sm-3 text-end">File type</dt>
                    <dd class="col-sm-9">{{ mediaFile.mimetype }}</dd>
                    <dt class="col-sm-3 text-end">Original name</dt>
                    <dd class="col-sm-9">{{ mediaFile.originalName }}</dd>
                    <dt class="col-sm-3 text-end">Uploaded</dt>
                    <dd class="col-sm-9">{{ mediaFile.updated|date }}</dd>
                    <dt class="col-sm-3 text-end">URL</dt>
                    <dd class="col-sm-9">
                        <a href="{{ path('media_file_raw', {'id': mediaFile.id}) }}">
                            {{ url('media_file_raw', {'id': mediaFile.id}) }}
                        </a>
                    </dd>
            </div>
        </div>
    {% endfor %}

    <h2>Contributors</h2>

    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <p>
            <a href="{{ path('project_contributions', {'id': project.id}) }}">Update project contributions</a>
        </p>
    {% endif %}

    {% for contribution in project.contributions %}
        {% if contribution.person %}
            {% set person = contribution.person %}
            <h3>
                {{ contribution.projectRole }}:
                <a href="{{ path('person_show', { 'id': person.id }) }}">
                    {{ person.fullname }}
                </a>
            </h3>
            <p>
                {{ text_service.trim(person.biography, 100) }}
            </p>
        {% endif %}
        {% if contribution.organization %}
            {% set organization = contribution.organization %}
            <h3>
                {{ contribution.projectRole }}:
                <a href="{{ path('organization_show', { 'id': organization.id }) }}">
                    {{ organization.name }}
                </a>
            </h3>
            <p>
                {{ text_service.trim(organization.description, 100) }}
            </p>
        {% endif %}
    {% endfor %}

    <h2>Artworks</h2>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <p>
            <a href="{{ path('project_artworks', {'id': project.id}) }}">Update project artworks</a>
        </p>
    {% endif %}

    {% for artwork in project.artworks %}
        <h3>
            <a href="{{ path('artwork_show', { 'id': artwork.id }) }}">
                {{ artwork }}
            </a>
        </h3>
        <p>
            {{ artwork.excerpt }}
        </p>
    {% endfor %}

    <h2>Sub Projects</h2>
    {% if project.children | length > 0 %}
        <ul>
            {% for child in project.children %}
                <li>
                    <a href="{{ path('project_show', {'id': child.id}) }}">
                        {{ child }}
                    </a>
                </li>
                {% endfor %}
        </ul>
        {% else %}
            <p><i>No subprojects</i></p>
    {%  endif %}


{% endblock %}
